# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore build or dist folders
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS metadata
.DS_Store

# Ignore npm debug logs
npm-debug.log*

# Ignore dependency directories
jspm_packages/

# Ignore temporary files
*.tmp
*.temp