# Node.js (backend & frontend)
node_modules/
package-lock.json

# Build output (React & Express)
backend/build/
frontend/build/
backend/dist/
frontend/dist/

# Environment variables
backend/.env
frontend/.env

# Logs & temp files
logs/
*.log
npm-debug.log*

# Database files
backend/*.db

# VSCode settings & system files
.vscode/
.DS_Store
Thumbs.db
